<template>
    <v-sheet id="credits" dark class="d-flex flex-column align-center py-16"  color="#333333" >

        <LogoSVG class="logo pb-5" viewBox="0 0 24 24"/>

        <p class="text-center">
            Maor Barak <br>
            Yair Avigal Cohen <br>
            Roi Frailich <br>
            Matan Mizrahi <br>
            Ziv Sharon
        </p>

        <p class="text-center">
            Resources: <br>
            IMDB Datasets <br>
            Vue.js <br>
            Veutify
        </p>

    </v-sheet>
</template>

<script>
import LogoSVG from '@/assets/logo.svg'

export default {
    name: 'Credits',
    components: {
        LogoSVG,
    }
}
</script>

<style scoped>
.logo {
    fill: white;
    height: auto;
    width: 3rem;
}
</style>
