<template>
    <v-sheet id="opening" height="80vh" color="primary">
        <div class="d-flex px-16" style="height:100%">
            
            <div style="flex: 1;" class="d-flex flex-column align-center justify-center">
                <div>
                
                <div class="text-h1 font-weight-bold calibri-font white--text">
                    Think<br>
                    with MAI
                </div>
                <div class="text-h6 white--text calibri-font">
                    We blend insights and strategy to predict your movie score, <br>
                    and suggest changes to help you create the best movie.
                </div>
                </div>
            </div>
            <div style="flex: 1;" class="d-flex align-center justify-center">
                <div class="line" />
                <MovieSuccessLogo class="movie-success"/>
            </div>
        </div>
    </v-sheet>
</template>

<script>
import MovieSuccessLogo from "@/assets/movie-success.svg"

export default {
    name: 'Opening',
    components: {
        MovieSuccessLogo
    }
}
</script>

<style scoped>
.calibri-font {
    font-family: Calibri !important;
}

.movie-success {
    height: auto;
    width: 25rem;
    z-index: 1;
}

.line {
    position: absolute;
    width: 60rem;
    height: 80vh;
    clip-path: polygon(5% 0%, 50% 0%, 90% 100%, 45% 100%); /* top-left, top-right, bottom-right, bottom-left */
    background: #ffffff3e;
}
</style>
