<template>
    <v-sheet id="services" class="d-flex flex-column"  color="#f4f6f7ff" height="80vh">
        
        <!-- Titles -->
        <div class="d-flex justify-center pt-16">
            <div class="d-flex flex-column align-center">
                    <div class="text-h3 font-weight-bold calibri-font pb-3">
                        Our Services
                    </div>
                    <div class="text-Subtitle-1 calibri-font text-center">
                        Stop wasting time and money producing and editing a movie <br>
                        that hardly get results. Success guaranteed!
                    </div>
            </div>    
        </div>


        <!-- Cards -->
        <div style="flex: 1;" class="d-flex align-center justify-center">
            <div class="d-flex">
                <ServiceCard 
                    v-for="service in services" 
                    :key="service.id" 
                    v-bind="service" 
                />
            </div>
        </div>
    </v-sheet>
</template>

<script>
import ServiceCard from '@/components/Home/ServiceCard.vue'

export default {
    name: 'Services',
    components: {
        ServiceCard
    },
    data() {
        return {
            services: []
        }
    },
    mounted() {
        this.initServices();
    },
    computed: {
        isAdmin() {
            return this.$store.state.user !== null &&
                this.$store.state.user.isAdmin === true;
        },
        isLoggedIn() {
            return this.$store.state.user !== null;
        },
        predictBtnText() {
            return this.isLoggedIn ? "Try Now" : "Login Now";
        },
        predictBtnTo() {
            return this.isLoggedIn ? "/predict" : '/login';
        },
    },
    watch: {
        isLoggedIn() {
            this.initServices()
        }
    },
    methods: {
        initServices() {
            this.services = []

            this.services.push({
                id: "predict",
                img: "EyeSvg",
                title: "Predict<br> Score",
                subtitle: "predict your movie's score by <br>" +
                        "movie's parameters (e.g budget, " + 
                        "<br> genre and actors)",
                btnText: this.predictBtnText,
                btnTo: this.predictBtnTo,
            });

            this.services.push({
                id: "history",
                show: this.isLoggedIn,
                space: "ml-16",
                img: "HistorySvg",
                title: "Prediction<br> History",
                subtitle: 
                "Watch you prediction history, <br>" +
                "and make decisions base on your <br>" + 
                "previous attempts.",
                btnText: "Watch now",
                btnTo: "/history",
            });

            this.services.push({
                id: "admin",
                show: this.isAdmin,
                space: "ml-16",
                img: "AdminPanel",
                title: "Admin<br> Panel",
                subtitle: "Manage the site, view logins, <br>" +
                        "prediction count and overall <br>" + 
                        "predictions.",
                btnText: "Manage now",
                btnTo: "/admin",
            });
        }
    }
}
</script>
