<template>
    <v-card v-if="show" :class="space">
        <div class="d-flex justify-space-between">
            <v-card-title class="text-h4 headline py-0" v-html="title"></v-card-title>

            <v-avatar class="ma-3" size=125 tile>
                <component :is="img" />
            </v-avatar>
        </div>

        <v-card-subtitle 
            class="text-subtitle-1 pt-0"
            v-html="subtitle">
        </v-card-subtitle>

        <v-card-actions>
            <v-btn text class="primary--text font-weight-bold" :to="btnTo">{{ btnText }}</v-btn>
        </v-card-actions>
    </v-card>
</template>

<script>
import EyeSvg from '@/assets/eye.svg'
import AdminPanel from '@/assets/admin-panel.svg'
import HistorySvg from '@/assets/history.svg'

export default {
    name: 'ServiceCard',
    components:{
        EyeSvg,
        AdminPanel,
        HistorySvg
    },
    props: {
        show: {
            type: Boolean,
            default: true
        },
        space: {
            type: String,
            default: ""
        },
        img: {
            type: String,
            default: null
        },
        title: {
            type: String,
            default: ""
        },
        subtitle: {
            type: String,
            default: ""
        },
        btnText: {
            type: String,
            default: ""
        },
        btnTo: {
            type: String,
            default: ""
        },        
    }
}
</script>

<style lang="stylus" scoped>
</style>
