<template>
  <b-jumbotron class="aboutDiv" bg-variant="light" text-variant="dark" border-variant="light"
   header="Welcome to MAI!" lead="This is our About page">
    <template v-slot:lead>
Creating a movie is a hard task. Creating a good movie is even harder.
 There are so many variables to take into consideration, like directors, actors, budget, etc.
  This is without mentioning the time and effort it takes.
  Even with an impressive budget and great actors and directors,
   the movie could still end up as a failure.
    </template>
    <p>
   <hr class="my-4">
Today alot of experts are hired to do all this hard work and assess the chances of
 failure for a new movie. Moreover they are hired to promise the success of the movie,
  but hiring them may be costly and not always beneficial because they
  can’t assure the movie will be successful .
<br>
<hr class="my-4">
<p>
We are living in a world of data,
we can look around and learn from many successful and unsuccessful movies.
The data is everywhere! we just need to examine it, and learn from it!
To help you create a better movie and ease your mind we created “MAI”,
a movie artificial intelligence that will help predict how profitable and successful
your movie will be, based on movies performance history.
 By using “MAI” you will get your movie score prediction!
    </p>
  </b-jumbotron>
</template>
<style>
.aboutDiv {
  margin-top: 1%;
  width:40%;
  display: inline-block;
  background: rgba(250, 250, 255, 0.5)!important;
  border-color: black!important;
  color:black!important;
}
</style>
