<template>
<v-container fluid fill-height class="pa-0" style="background: #f4f6f7;" >
    
    <v-card class="nice-background" rounded="0" style="width: 100%; height: 30%;">
        <v-container class="d-flex pa-16">
            <v-avatar class="ma-3" size=42 tile>
                <AdminPanelSvg style="fill: white;"/>
            </v-avatar>
            <div>
                <span class="text-h2 white--text font-weight-bold calibri-font">
                    Admin Panel
                </span>
                <p class="text-h6 white--text font-weight-bold calibri-font">
                    View meaningful data and manage the site with ease and comfort.
                </p>
            </div>
        </v-container>
    </v-card>



    <div class="absolute">
        <v-container class="px-16 d-flex">
            
            <v-card class="mr-8" max-width="200" :loading="cardLoading"> 
                <v-card-title class="py-2">
                    <div class="text-h5 text-center" style="width: 100%;">
                        Login Count
                    </div>
                </v-card-title>

                <v-divider />

                <v-card-subtitle>
                    <div class="text-h6 text-center" style="width: 100%;">
                        {{ loginCount }}
                    </div>
                </v-card-subtitle>
            </v-card>


            <v-card max-width="210" :loading="cardLoading">
                <v-card-title class="py-2">
                    <div class="text-h5 text-center" style="width: 100%;">
                        Prediction Count
                    </div>
                </v-card-title>

                <v-divider />

                <v-card-subtitle>
                    <div class="text-h6 text-center" style="width: 100%;">
                        {{ predictionCount }}
                    </div>
                </v-card-subtitle>
            </v-card>
        </v-container>
    </div>

    <v-sheet class="table pt-16" color="transparent" height="70%" width="100%">
        <v-container class="pa-16">
            <v-container class="d-flex justify-end">
                <v-text-field
                    v-model="search"
                    append-icon="mdi-magnify"
                    label="Search"
                    single-line
                    hide-details
                    style="max-width: 25% !important;"
                ></v-text-field>
            </v-container>
            
            <PredictionTable elevation="2" :isLoading="tableLoading" :items="items" :search="search"/>
        </v-container>
    </v-sheet>

</v-container>
</template>

<script>
import AdminPanelSvg from '@/assets/admin-panel.svg'
import PredictionTable from "@/components/PredictionTable.vue"

export default {
    name: "Admin",
    components: {
        AdminPanelSvg,
        PredictionTable
    },
    data() {
        return {
            cardLoading: false,
            tableLoading: false,
            items: [],

            predictionCount: '',
            loginCount: '',

            search: '',
        };
    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
        this.retrieveItems();
        this.retrievePredictions();
    },
    methods: {
        retrieveItems() {
            this.cardLoading = true;

            this.axios.post('http://localhost:5000/admin/')
                .then((response) => {
                    this.predictionCount = response.data.predictions;
                    this.loginCount = response.data.logins;

                    this.cardLoading = false;
                })
                .catch((error) => {
                    this.cardLoading = false;

                    console.log(error);
                });
        },
        
        retrievePredictions() {
            this.tableLoading = true;

            this.axios.post('http://localhost:5000/predictions/',
                { email: this.$store.state.user.email })
                .then((response) => {

                    response.data.forEach((prediction) => {
                        let genresString = '';
                        prediction.genres.forEach((element) => {
                            genresString += `${element},`;
                        });
                        genresString = genresString.substring(0, genresString.length - 1);
                        prediction.genres = genresString;

                        let peopleString = '';
                        prediction.people.forEach((element) => {
                            peopleString += `${element}, `;
                        });
                        peopleString = peopleString.substring(0, peopleString.length - 2);
                        prediction.people = peopleString;
                    });

                    this.items = response.data;
                    this.tableLoading = false;
                })
                .catch((error) => {

                    this.tableLoading = false;
                    console.log(error);
                });
        },
    },

    
};
</script>


<style lang="scss" scoped>
.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
    z-index: 1;
}

.calibri-font {
    font-family: Calibri !important;
}

.absolute {
    position: absolute;
    z-index: 2;
    top: 23.5%;
    width: 100%;
}

.table {
    z-index: 3;
}
</style>
