<template>
<!-- style="background: 'red' !important;" -->
<v-container fluid fill-height class="pa-0" style="background: #f4f6f7;" >
    
    <v-card class="nice-background" rounded="0" style="width: 100%; height: 30%;">
        <v-container class="d-flex pa-16">
            <v-avatar class="ma-3" size=42 tile>
                <HistorySvg style="fill: white;"/>
            </v-avatar>
            <div>
                <span class="text-h2 white--text font-weight-bold calibri-font">
                    History
                </span>
                <p class="text-h6 white--text font-weight-bold calibri-font">
                    Your previous prediction are presented in this page.
                </p>
            </div>
        </v-container>

    </v-card>

    <!-- not sure which to use, absolute or not  -->
    <v-sheet v-if="absulote" color="transparent" height="70%" width="100%">
        <div class="absolute">
            <v-container class="px-16 py-0">
                <PredictionTable elevation="2" :isLoading="isLoading" :items="items"/>
            </v-container>
        </div>
    </v-sheet>
    <v-sheet v-else color="transparent" height="70%" width="100%">
        <v-container class="pa-16">
            <PredictionTable elevation="2" :isLoading="isLoading" :items="items"/>
        </v-container>
    </v-sheet>

</v-container>
</template>

<script>
import HistorySvg from '@/assets/history.svg'
import PredictionTable from "@/components/PredictionTable.vue"

export default {
    name: "History",
    components: {
        HistorySvg,
        PredictionTable
    },
    data() {
        return {
            isLoading: false,
            items: [],
            absulote: true
        };
    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
        this.retrieveItems();
    },
    methods: {
        retrieveItems() {
            this.isLoading = true;

            this.axios.post('http://localhost:5000/predictions/',
                { email: this.$store.state.user.email })
                .then((response) => {

                    [].forEach.call(response.data, (prediction) => {
                        let genresString = '';
                        prediction.genres.forEach((element) => {
                            genresString += `${element},`;
                        });
                        genresString = genresString.substring(0, genresString.length - 1);
                        prediction.genres = genresString;

                        let peopleString = '';
                            prediction.people.forEach((element) => {
                            peopleString += `${element}, `;
                        });
                        peopleString = peopleString.substring(0, peopleString.length - 2);
                        prediction.people = peopleString;
                    });

                    this.items = response.data;
                    this.isLoading = false;
                })
                .catch((error) => {
                    this.isLoading = false;
                    console.log(error);
                });
            },
        },
  
  
};
</script>

<style lang="scss" scoped>
.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
    z-index: 1;
}

.calibri-font {
    font-family: Calibri !important;
}

.absolute {
    position: absolute;
    z-index: 2;
    top: 25%;
    width: 100%;
}
</style>
