<template>
    <v-container fluid class="py-0 px-0">
        <Opening />
        <Services />
        <Credits />
    </v-container>
</template>

<script>

import Opening from "@/components/Home/Opening.vue"
import Services from "@/components/Home/Services.vue"
import Credits from "@/components/Home/Credits.vue"

export default {
    name: 'Home',
    components: {
        Opening,
        Services,
        Credits
    },
    mounted() {
        this.$store.commit('setAppbarForced', false);
    },
}
</script>

<style scoped>
</style>
