<template>
<v-container fluid fill-height class="nice-background align-center justify-center">
    <div class="camera-container">

        <CameraSVG class="camera" />

        <div class="d-flex camera-body">
            <!-- Logo -->
            <div style="flex: 1;" class="d-flex flex-column align-center justify-center">
                <LoginLogoSvg class="login-logo"/>
            </div>

            <!-- Form -->
            <div style="flex: 1;" class="px-16 d-flex flex-column align-center justify-center">
                <p class="text-h5 font-weight-bold">
                    Member Login
                </p>
                <v-form
                    ref="form"
                    v-model="form.valid"
                    lazy-validation>

                    <v-text-field
                        v-model="form.data.email"
                        label="Email"
                        :rules="form.rules.email"
                        outlined
                        required />

                    <v-text-field
                        v-model="form.data.password"
                        label="Password"
                        :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                        :type="showPass ? 'text' : 'password'"
                        @click:append="showPass = !showPass"
                        :rules="form.rules.password"
                        outlined
                        required />
                </v-form>

                <LoadingButton text="Login" @click="validate" :loading="loading" />
            </div>
        </div>
    </div>

    <v-snackbar v-model="snackbar.show" :color="snackbar.color">
        {{ snackbar.text }}
        <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
</v-container>
</template>

<script>
import CameraSVG from '@/assets/camera.svg'
import LoginLogoSvg from '@/assets/login-logo.svg'
import LoadingButton from '@/components/LoadingButton.vue'

export default {
    name: 'Login',
    components: {
        CameraSVG,
        LoginLogoSvg,
        LoadingButton
    },
    data() {
        return {
            form: {
                valid: false,
                rules: {
                    email: [
                        v => !!v || 'E-mail is required',
                        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                    ],
                    password: [
                        v => !!v || 'Password is required',
                    ],
                },
                data: {
                    email: '',
                    password: '',
                }
            },
            snackbar: {
                show: false,
                text: "Login failed, please try again later.",
                color: 'error'
            },
            loading: false,
            showPass: false,
        };
    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
        
        if (/.+@.+\..+/.test(this.$route.query.name)) {
            this.form.data.email = this.$route.query.name;
            this.snackbar.color = 'success';
            this.snackbar.text = "Registration completed successfully, please log-in.";
            this.snackbar.show = true;
        }
    },
    methods: {
        validate() {
            let valid = this.$refs.form.validate()
            if (valid) {
                this.onSubmit();
            }
        },
        onSubmit() {
            this.loading = true;
            
            this.axios.post(`http://localhost:5000/users/${this.form.data.email}/login`, {
                password: this.form.data.password,
            })
                .then((response) => {
                    this.loading = false;

                    if (response.status === 200) {
                        this.$store.commit('setUser', response.data);
                        this.$router.push('/');
                    }
                })
                .catch((error) => {
                    this.loading = false;

                    this.snackbar.color = 'error';
                    this.snackbar.text = "Login failed, please try again later.";
                    this.snackbar.show = true;

                    console.log(error);
                });
        },
    },
};
</script>

<style lang="scss" scoped>

.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
}

.login-logo {
    height: auto;
    width: 15rem;
}

.camera-container {
    position: absolute;
}

.camera {
    position: absolute;
    left:-7%;
    top:-50%;
    fill:white;
    height: auto;
    width: 50rem;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    z-index: 0;
}

.camera-body {
    position: relative;
    z-index: 1;
}
</style>
