<template>
<v-container fluid fill-height class="pa-0 align-start" style="background: #f4f6f7;" >
    <v-card class="nice-background" rounded="0" style="width: 100%; height: 30%;">
        <v-container class="d-flex pa-16">
            <v-avatar class="ma-3" size=42 tile>
                <EyeSvg style="fill: white;"/>
            </v-avatar>
            <div>
                <span class="text-h2 white--text font-weight-bold calibri-font">
                    Predict Score
                </span>
                <p class="text-h6 white--text font-weight-bold calibri-font">
                    Enter your movie details and stars the will plat in your movie.
                </p>
            </div>
        </v-container>
    </v-card>

    <div class="absolute">
        <v-container class="d-flex justify-center">
            
            <v-card width="512"> 
                <v-card-subtitle>
                    <v-form
                        ref="form"
                        v-model="form.valid"
                        lazy-validation
                    >
                    
                        <v-text-field
                            v-model="form.data.name"
                            label="Prediction Name"
                            :rules="form.rules.name"
                        ></v-text-field>

                        <v-autocomplete
                            v-model="form.data.genres"
                            :rules="form.rules.genres"
                            :items="genres"
                            label="Genres"
                            multiple
                        >
                            <template v-slot:prepend-item>
                                <v-list-item>
                                    <span class="subheading">Type to filter</span>
                                    <!-- <v-div -->
                                </v-list-item>
                            </template>
                        </v-autocomplete>

                        <div class="d-flex">
                            <v-menu
                                ref="yearMenu"
                                v-model="showYearPicker"
                                :close-on-content-click="false"
                                :return-value.sync="form.data.releaseDate"
                                transition="scale-transition"
                                offset-y
                                min-width="290px"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <!-- v-model="form.data.releaseDate" -->
                                    <v-text-field
                                        :value="yearPickerText"
                                        :rules="form.rules.releaseDate"
                                        label="Realse Date"
                                        prepend-icon="event"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>

                                <v-date-picker
                                    ref="yearPicker"
                                    v-model="form.data.releaseDate" 
                                    no-title
                                    reactive
                                    @input="onYearSelected"
                                />
                            </v-menu>

                            <v-spacer />

                            <!-- :return-value.sync="form.data.releaseDate" -->
                            <!-- min-width="290px" -->
                            <v-menu
                                ref="timeMenu"
                                v-model="showTimePicker"
                                :close-on-content-click="false"
                                transition="scale-transition"
                                offset-y
                                max-width="245"
                            >
                                <template v-slot:activator="{ on, attrs }">
                                    <v-text-field
                                        :value="beutifyMovieLength"
                                        :rules="form.rules.movieLength"
                                        label="Movie Length"
                                        prepend-icon="access_time"
                                        readonly
                                        v-bind="attrs"
                                        v-on="on"
                                    ></v-text-field>
                                </template>

                                <v-card> 
                                    <v-list >
                                        <v-list-item>
                                            <v-text-field
                                                type="number" 
                                                label="Hours"
                                                v-model="form.temp.movieLengthHour"
                                            ></v-text-field>

                                            <div class="px-2 font-weight-bold">:</div>

                                            <v-text-field
                                                type="number" 
                                                label="Minutes"
                                                v-model="form.temp.movieLengthMin"
                                                
                                            ></v-text-field>
                                        </v-list-item>
                                    </v-list>
                                </v-card>
                            </v-menu>
                                
                        </div>


                        <!-- Actors  -->
                        <v-combobox
                            v-model="form.data.actors"
                            :rules="this.form.rules.actors"
                            multiple
                            small-chips
                            append-icon=""
                            label="Main Actors"
                        >
                            <template v-slot:no-data>
                                <v-list-item>
                                    <span class="subheading">Type name and press enter</span>
                                </v-list-item>
                            </template>

                            <template v-slot:selection="{ attrs, item, parent, selected }">
                                <v-chip
                                    v-bind="attrs"
                                    :input-value="selected"
                                    :color="item.color"
                                    small>
                                        {{ item.text }}

                                        <v-icon
                                            small
                                            @click="parent.selectItem(item)"
                                        >close</v-icon>
                                </v-chip>
                            </template> 
                        </v-combobox>


                        <v-combobox
                            v-model="form.data.producers"
                            :rules="this.form.rules.producers"
                            multiple
                            small-chips
                            append-icon=""
                            label="Main Producers"
                        >
                            <template v-slot:no-data>
                                <v-list-item>
                                <span class="subheading">Type name and press enter</span>
                                </v-list-item>
                            </template>

                            <template v-slot:selection="{ attrs, item, parent, selected }">
                                <v-chip
                                    v-bind="attrs"
                                    :input-value="selected"
                                    :color="item.color"
                                    small>
                                        {{ item.text }}

                                        <v-icon
                                            small
                                            @click="parent.selectItem(item)"
                                        >close</v-icon>
                                </v-chip>
                            </template> 
                        </v-combobox>


                        <v-combobox
                            v-model="form.data.writers"
                            :rules="this.form.rules.writers"
                            multiple
                            small-chips
                            append-icon=""
                            label="Main Writers"
                        >
                            <template v-slot:no-data>
                                <v-list-item>
                                <span class="subheading">Type name and press enter</span>
                                </v-list-item>
                            </template>

                            <template v-slot:selection="{ attrs, item, parent, selected }">
                                <v-chip
                                    v-bind="attrs"
                                    :input-value="selected"
                                    :color="item.color"
                                    small>
                                        {{ item.text }}

                                        <v-icon
                                            small
                                            @click="parent.selectItem(item)"
                                        >close</v-icon>
                                </v-chip>
                            </template> 
                        </v-combobox>

                        <LoadingButton class="mt-3" text="Predict" :loading="loading" @click="validate" />

                    </v-form>
                </v-card-subtitle>
            </v-card>
        </v-container>
    </div>
</v-container>
</template>

<script>
import EyeSvg from '@/assets/eye.svg'
import LoadingButton from '@/components/LoadingButton.vue'

export default {
    name: 'Predict',
    components: {
        EyeSvg,
        LoadingButton
    },
    data() {
        return {
            form: {
                data: {
                    name: '',
                    genres: [],
                    releaseDate: new Date().toISOString().substr(0, 10),
                    movieLength: 90,
                    actors: [],
                    producers: [],
                    writers: [],
                },
                temp: {
                    movieLengthHour: 1,
                    movieLengthMin:30,
                },
                rules: {
                    name: [
                        v => !!v || 'Prediction name is required',
                    ],
                    genres: [
                        v => this.form.data.genres.length > 0 || 'Must have at least one genre',
                    ],
                    releaseDate: [
                        v => !!v || 'Release date is required',
                    ],
                    movieLength: [
                        v => !!v || 'Movie length is required',
                        v => this.form.data.movieLength > 0 || 'Movie length must be longer',
                    ],
                    actors: [
                        v => this.form.data.actors.length > 0 || 'Must have at least one actor',
                        v => this.form.data.actors.reduce((acc, cur) => acc + (cur.color === 'error'), 0) <= 0 || 'Couldnt find highlighed actors, please try again.',
                    ],
                    producers: [
                        v => this.form.data.producers.length > 0 || 'Must have at least one producer',
                        v => this.form.data.producers.reduce((acc, cur) => acc + (cur.color === 'error'), 0) <= 0 || 'Couldnt find highlighed producers, please try again.',
                    ],
                    writers: [
                        v => this.form.data.writers.length > 0 || 'Must have at least one writer',
                        v => this.form.data.writers.reduce((acc, cur) => acc + (cur.color === 'error'), 0) <= 0 || 'Couldnt find highlighed writers, please try again.',
                    ],
                },
            },

            genres: ['Musical', 'Thriller', 'History', 'War', 'News', 'Talk-Show', 'Mystery', 'Family', 'Drama', 'Action', 'Crime', 'Adventure', 'Sport', 'Short', 'Horror', 'Romance', 'Western', 'Comedy', 'Sci-Fi', 'Documentary', 'Music', 'Reality-TV', 'Biography', 'Adult', 'Fantasy', 'Game-Show', 'Animation'],

            showYearPicker: false,
            showTimePicker: false,

            loading: false,
        };
    },
    computed: {
        yearPickerText() {
            return this.form.data.releaseDate.split('-')[0];
        },
        beutifyMovieLength() {
            this.form.data.movieLength = parseInt(this.form.temp.movieLengthHour*60) + parseInt(this.form.temp.movieLengthMin);
            return this.form.temp.movieLengthHour+":"+this.form.temp.movieLengthMin;
        },
        movieLengthMinComputed() {
            return this.form.temp.movieLengthMin;
        },
        actorsComputer() {
            return this.form.data.actors;
        },
        producersComputer() {
            return this.form.data.producers;
        },
        writersComputer() {
            return this.form.data.writers;
        },

        
    },
    watch: {
        showYearPicker(val) {
            val && this.$nextTick(() => {
                this.$refs.yearPicker.activePicker = 'YEAR';

                setTimeout(() => {
                    const ul = this.$refs.yearPicker.$el.getElementsByClassName('v-date-picker-years')[0];
                    const activeItem = ul.getElementsByClassName('active')[0];

                    const y = activeItem.offsetTop -
                        this.$refs.yearPicker.$el.offsetHeight / 2 + activeItem.offsetHeight / 2;

                    // ul.classList.add("overflow-y-hidden")
                    ul.scrollTo(0, y);
                }, 100);
            });
        },
        movieLengthMinComputed(val) {
            if (val > 59) {
                this.form.temp.movieLengthHour+=1;
                this.form.temp.movieLengthMin=0;
            } else if (val < 0) {
                this.form.temp.movieLengthHour-=1;
                this.form.temp.movieLengthMin=59;
            }

            if (val.length < 2 && val >= 0 && val <= 9) {
                this.form.temp.movieLengthMin= "0"+val;
            }
        },
        actorsComputer(val, prev) {
            if (val.length === prev.length) return
            
            this.form.data.actors = this.peopleTransform(val)

        },
        producersComputer(val, prev) {
            if (val.length === prev.length) return
            
            this.form.data.producers = this.peopleTransform(val)
        },
        writersComputer(val, prev) {
            if (val.length === prev.length) return
            
            this.form.data.writers = this.peopleTransform(val)
        },

    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
    },
    methods: {
        onYearSelected(date) {
            this.$refs.yearMenu.save(date);
            this.$refs.yearPicker.activePicker = 'YEAR';
            this.showYearPicker = false;
        },
        peopleTransform(val, list) {
            return val.map(v => {
                if (typeof v === 'string') {
                    v = {
                        text: v,
                        color: undefined,
                    }
                }

                return v;
            });
        },

        validate() {
            let valid = this.$refs.form.validate()
            if (valid) {
                this.onSubmit();
            }
        },

        onSubmit(evt) {
            this.loading = true;

            const peopleData = {};
            peopleData.actors = this.form.data.actors.map(v => v.text);
            peopleData.producers = this.form.data.producers.map(v => v.text);
            peopleData.writers = this.form.data.writers.map(v => v.text);

            this.axios.post('http://localhost:5000/peoples/notexist', {
                actors: peopleData.actors,
                producers: peopleData.producers,
                writers: peopleData.writers,
            })
            .then((response) => {
                let peopleValidation = true;

                if (response.data !== {}) {
                    console.log(response.data);
                    if (response.data.actors) {
                        const responseActors = JSON.parse(response.data.actors);
                        responseActors.forEach((actor) => {
                            this.form.data.actors.forEach(actorItem => {
                                if (actorItem.text === actor) {
                                    actorItem.color = "error";
                                    peopleValidation = false;
                                }
                            });
                        });
                    }

                    if (response.data.producers) {
                        const responseProducers = JSON.parse(response.data.producers);
                        responseProducers.forEach((producer) => {
                            this.form.data.producers.forEach(producerItem => {
                                if (producerItem.text === producer) {
                                    producerItem.color = "error";
                                    peopleValidation = false;
                                }
                            });
                        });
                    }

                    if (response.data.writers) {
                        const responseWriters = JSON.parse(response.data.writers);
                        responseWriters.forEach((writer) => {
                            this.form.data.writers.forEach(writerItem => {
                                if (writerItem.text === writer) {
                                    writerItem.color = "error";
                                    peopleValidation = false;
                                }
                            });
                        });
                    }
                }

                if (!peopleValidation) {
                    this.loading = false;
                    this.$refs.form.validate();
                } else {
                    const people = [...peopleData.actors, ...peopleData.producers, ...peopleData.writers];
                    const requestParams = {
                        name: this.form.data.name,
                        genres: this.form.data.genres,
                        publish_date: this.yearPickerText,
                        email: this.$store.state.user.email,
                        approximate_length_time: this.form.data.movieLength,
                        people,
                    };
                    this.axios.post('http://localhost:5000/predict', requestParams)
                    .then((innerResponse) => {
                        this.loading = false;
                        this.$store.commit('lastPredictionParams', requestParams);
                        this.$router.push(`/Result?result=${innerResponse.data.result}`);
                    })
                    .catch((innerError) => {
                        this.loading = false;
                        console.log(innerError);
                    });
                }
            })
            .catch((error) => {
                this.loading = false;
                console.log(error);
            });

            return true;
        },
    },
    
};
</script>

<style scoped>
.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
    z-index: 1;
}

.calibri-font {
    font-family: Calibri !important;
}

.absolute {
    position: absolute;
    z-index: 2;
    top: 23.5%;
    width: 100%;
}
</style>
