<template>

<v-container fluid fill-height class="nice-background align-center justify-center">
    <CameraSVG class="camera" />
    <div class="light" />

    <v-card class="form-card pa-5" max-width="400" >
        <v-form
            ref="form"
            v-model="form.valid"
            lazy-validation>
            
            <v-text-field
                v-model="form.data.name"
                :rules="form.rules.fullname"
                label="Full Name"
                outlined
                required />

                
            <div class="d-flex">
                <v-text-field
                v-model="form.data.studio"
                :rules="form.rules.studio"
                label="Studio"
                outlined
                required />

                <v-select
                    class="ml-3"
                    :items="studioSizes"
                    :rules="form.rules.studiosize"
                    label="Studio Size"
                    outlined
                    required></v-select>
            </div>
            

            <v-text-field
                v-model="form.data.email"
                :rules="form.rules.email"
                label="Email"
                outlined
                required />

            <v-text-field
                v-model="form.data.password"
                :rules="form.rules.password"
                label="Password"
                :append-icon="showPass ? 'mdi-eye' : 'mdi-eye-off'"
                :type="showPass ? 'text' : 'password'"
                @click:append="showPass = !showPass"
                outlined
                required />

                <v-select
                :items="professions"
                :rules="form.rules.profession"
                label="Profession"
                outlined
                ></v-select>

            <LoadingButton text="Register" @click="validate" :loading="loading" />
        </v-form>
    </v-card>

    <v-snackbar v-model="snackbar.show" color="error">
        {{ snackbar.text }}
        <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>

</v-container>
</template>

<script>
import CameraSVG from '@/assets/camera.svg'
import LoadingButton from '@/components/LoadingButton.vue'

export default {
    name: "Register",
    components: {
        CameraSVG,
        LoadingButton
    },
    data() {
        return {
            form: {
                valid: false,
                rules: {
                    fullname: [
                        v => !!v || 'Full Name is required',
                        v => /^[A-Z]{0,1}[a-z]+ [A-Z]{0,1}[a-z]+$/.test(v) || 'Full Name must be valid'
                    ],
                    studio: [
                        v => !!v || 'Studio is required',
                        v => /^[A-Za-z0-9 ]*$/.test(v) || 'Studio must be valid'
                    ],
                    studiosize: [
                        v => !!v || 'Studio Size is required',
                    ],
                    email: [
                        v => !!v || 'E-mail is required',
                        v => /.+@.+\..+/.test(v) || 'E-mail must be valid',
                    ],
                    password: [
                        v => !!v || 'Password is required',
                    ],
                    profession: [
                        v => !!v || 'Studio Size is required',
                    ],
                },
                data: {
                    name: '',
                    studio: '',
                    studioSize: null,
                    email: '',
                    password: '',
                    profession: null,
                }
            },
            studioSizes: ['1-4', '5-20', '21-100', '101-1000', '1001+'],
            professions: ['Investor', 'Producer', 'Writer', 'Actor', 'Entrepreneur'],
            loading: false,
            snackbar: {
                show: false,
                text: "Registration failed, please try again later."
            },
            showPass: false,
        };
    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
    },
    methods: {
        validate() {
            let valid = this.$refs.form.validate()
            if (valid) {
                this.onSubmit();
            }
        },
        onSubmit(evt) {
            this.loading = true;

            this.axios.post(`http://localhost:5000/users/${this.form.data.email}`, {
                name: this.form.data.name,
                studio: this.form.data.studio,
                password: this.form.data.password,
                profession: this.form.data.profession,
            })
            .then((response) => {
                this.loading = false;

                console.log(response.data);
                this.$router.push(`/login?name=${this.form.data.name}`);
            })
            .catch((error) => {
                this.loading = false;
                this.snackbar.show = true;

                console.log(error);
            });
        },
    },
};
</script>

<style>
.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
}

.camera {
    position: absolute;
    left:-35%;
    fill:white;
    height: auto;
    width: 55vw;
    filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.4));
    z-index: 0;
}

.light {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: polygon(17% 40%, 100% 0%, 100% 100%, 17% 60%); /* top-left, top-right, bottom-right, bottom-left */
    background:  linear-gradient(to right, #ffffff3e, #ffffff00);
    z-index: 1;
}

.form-card {
    z-index: 2;
}
</style>
