<template>
<v-timeline align-top :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        icon="visibility"
        color="primary"
        fill-dot
      >
        <v-card
          color="primary"
          dark
        >
          <v-card-title class="title">Prediction Result</v-card-title>
          <v-card-text class="white text--primary" color="primary">
              <br>
              <br>
              <br>
            <p class="text-center" style="font-size: 7rem;">{{ score }}</p>
            <br>
            <div class="d-flex justify-center" v-if="showButton">
            <LoadingButton
              color="primary"
              class="mx-0"
              outlined
              v-if="showButton"
              :fullwidth="false" 
            :loading="loading" 
              @click="loadRecommendations"
              text="Find recommendations"
            />
            </div>
          </v-card-text>
        </v-card>
      </v-timeline-item>
      <v-timeline-item
        icon="people"
        color="blue lighten-2"
        fill-dot
        v-if="showReco"
      >
        <v-card
          color="blue lighten-2"
          dark
        >
          <v-card-title class="title" >Recommendations</v-card-title>
          <v-card-text style="padding:0px" class="white text--primary" color="red lighten-2">
            <v-card
             v-for="(item, id) in items"
               :key="id"
              icon="people"
              style="font-size: 1.4rem; background-color:white;"
              >
             <v-card-title class="text-center" style="font-size: 1.1rem;color:black;padding:6px">
                   <i class="material-icons">chevron_right</i>  
                   {{ " " + item.name + " - " + item.role.replace("_"," ") }}
                </v-card-title>
          </v-card>
          </v-card-text>
        </v-card>
      </v-timeline-item>
       <v-timeline-item
        icon="done"
        color="green lighten-2"
        fill-dot
        v-if="showReco"
      >
        <v-card
          color="green lighten-2"
          dark
        >
          <v-card-title class="title">Improved Prediction Result</v-card-title>
          <v-card-text class="white text--primary" color="red lighten-2">
              <br>
              <br>
              <br>
            <p class="text-center" style="font-size: 7rem;">{{ newScore }}</p>
            <br>
          </v-card-text>
        </v-card>
      </v-timeline-item>
       <v-snackbar v-model="snackbar.show" color="error">
        {{ snackbar.text }}
        <template v-slot:action="{ attrs }">
            <v-btn text v-bind="attrs" @click="snackbar = false">
                Close
            </v-btn>
        </template>
    </v-snackbar>
    </v-timeline>
</template>

<script>
import EyeSvg from '@/assets/eye.svg'
import LoadingButton from '@/components/LoadingButton.vue'

export default {
    name: 'Result',
    components: {
        EyeSvg,
        LoadingButton
    },
    data() {
        return {
            items: [ ],
            newScore: '',
            loading: false,
             snackbar: {
                show: false,
                text: "Could not find recommendation based on our data"
            }
        };
    },
    computed: {
        canLoad() {
            return this.$route.query.result;
        },
        score() {
            return Number(this.$route.query.result).toFixed(1);
        },
        showButton() {
            return this.items.length === 0;
        },
        showReco() {
            return this.items.length > 0;
        },
    },
    mounted() {
        this.$store.commit('setAppbarForced', true);
    },
    methods: {
        loadRecommendations() {
            
            this.loading = true;

            const requestParams = this.$store.state.lastPredictionParams;
            requestParams.recommendation = true;

            this.axios.post('http://localhost:5000/predict', requestParams)
                .then((innerResponse) => {
                    console.log(innerResponse.data);

                    this.loading = false;

                    if (innerResponse.data.people.length > 0) {
                      this.items = innerResponse.data.people;
                      this.newScore = Number(innerResponse.data.newScore).toFixed(1);
                    }
                    else {
                      this.snackbar.color = 'error';
                      this.snackbar.show = true;
                    }
                })
                .catch((innerError) => {
                    this.loading = false;
                    console.log(innerError);
                });
        }
    },
};
</script>

<style scoped>
.nice-background {
    background: linear-gradient(to right, var(--v-primary-base), var(--v-secondary-base));
    z-index: 1;
}

.calibri-font {
    font-family: Calibri !important;
}

.absolute {
    position: absolute;
    z-index: 2;
    top: 23.5%;
    width: 100%;
}
</style>
