<template>
<v-btn color="primary" :style="width" @click="$emit('click')">
    <v-progress-circular
        v-if="loading"
        indeterminate
        color="white"
        ></v-progress-circular>
    <div v-else>
        {{text}}
    </div>
</v-btn>
</template>

<script>
export default {
    name: 'LoadingButton',
    props: {
        loading: {
            type: Boolean,
            default: false
        },
        text: {
            type: String,
            default: 'Replace Me'
        },
        fullwidth: {
            type: Boolean,
            default: true
        }
    },
    computed: {
        width() {
            return this.fullwidth ? "width: 100%;" : "";
        }
    }
}
</script>

<style lang="stylus" scoped>
</style>
