<template>
<div>
    <v-data-table
        :headers="headers"
        :items="items"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        hide-default-footer
        :class="getElevation"
        @page-count="pageCount = $event"

        :loading="isLoading"
        loading-text="Loading... Please wait"

        :search="search"
    ></v-data-table>

    <div class="text-center pt-2">
        <v-pagination v-model="page" :length="pageCount"></v-pagination>
    </div>
</div>
</template>

<script>
export default {
    name: 'PredictionTable',
    data() {
        return {
            page: 1,
            pageCount: 0,
        }
    },
    props: {
        elevation: {
            type: Number|String,
            default: 1
        },
        isLoading: {
            type: Boolean,
            default: false
        },
        itemsPerPage: {
            type: Number,
            default: 5
        },
        headers: {
            type: Array,
            default: () => [
                {
                    text: 'name',
                    align: 'start',
                    sortable: false,
                    value: 'name',
                },
                {
                    text: 'genres',
                    align: 'start',
                    sortable: true,
                    value: 'genres',
                },
                {
                    text: 'Actors/Writers/Producers',
                    align: 'start',
                    sortable: true,
                    value: 'people',
                },
                {
                    text: 'Publish year',
                    align: 'start',
                    sortable: true,
                    value: 'publish_date',
                },
                {
                    text: 'Movie length',
                    align: 'start',
                    sortable: true,
                    value: 'approximate_length_time',
                },
                {
                    text: 'Prediction Score',
                    align: 'start',
                    sortable: true,
                    value: 'result',
                    color: 'primary',
                },
            ]
        },
        items: {
            type: Array,
            default: []
        },
        search: {
            type: String,
            default: ''
        },
    },
    computed: {
        getElevation() {
            return "elevation-"+this.elevation;
        }
    }
}
</script>

<style lang="scss" scoped>
// thead, tbody {
//     tr {
//         th:last-child {
//             background: #0067f466;
//         }

//         td:last-child {
//             background: #0067f433;
//         }
//     }
// }
</style>
