<template>
  <v-app id="app">
    <v-app-bar
        ref="appbar"
        app
        color="white"
        dark
        :elevate-on-scroll="appBarforced"
        :fade-img-on-scroll="appBarforced"
        :class="appbarForcedClass"
        >

        <template v-if="appBarforced" v-slot:img="{ props }">
            <v-img v-bind="props" class="primary"></v-img>
        </template>

        <div class="d-flex align-center">
            <LogoSVG class="logo" viewBox="0 0 24 24"/>
        </div>

        <v-spacer></v-spacer>

        <v-btn text class="nav-btn-text" to="/#opening"  @click="$vuetify.goTo('#opening')">Home</v-btn>
        <v-btn text class="nav-btn-text" to="/#services" @click="$vuetify.goTo('#services')">Services</v-btn>
        <v-btn text class="nav-btn-text" to="/#credits"  @click="$vuetify.goTo('#credits')">Credits</v-btn>

        <v-spacer></v-spacer>

        <div v-if="!isLoggedIn">
            <v-btn class="nav-btn mr-2" depressed to="/Login">Login</v-btn>
            <v-btn class="nav-btn" depressed to="/Register">Register</v-btn>
        </div>
        <div v-else>
            <v-btn class="nav-btn" depressed @click="onLogout">Logout</v-btn>
        </div>
    </v-app-bar>

    <v-main>
        <router-view></router-view>
    </v-main>
  </v-app>

</template>

<script>
import LogoSVG from '@/assets/logo.svg'

export default {
    name: 'App',
    components: {
        LogoSVG,
    },
    computed: {
        isLoggedIn() {
            return this.$store.state.user !== null;
        },
        isAdmin() {
            return this.$store.state.user !== null &&
                   this.$store.state.user.isAdmin === true;
        },
        appBarforced() {
            return !this.$store.state.appbarForced;
        },
        appbarForcedClass() {
            return this.$store.state.appbarForced ? "forced" : "";
        }
    },
    methods: {
        onLogout() {
            this.$store.commit('logout');
            this.$router.push('/');
        },
    },
};

</script>

<style lang="scss" scoped>

.v-app-bar--hide-shadow{
    .logo {
        fill: white;
        height: auto;
        width: 3rem;
    };
    .nav-btn {
        color: var(--v-primary-base) !important;
        background: white !important;
    };
    .v-btn--active:before {
        opacity: 0 !important;    
    };
};

.v-app-bar--is-scrolled, .forced {
    .logo {
        fill: var(--v-primary-base);
        height: auto;
        width: 3rem;
    }
    .nav-btn-text {
        color: var(--v-primary-base);
    }
    .nav-btn {
        color: white !important;
        background: var(--v-primary-base) !important;
    }
    .v-btn--active:before {
        opacity: 0 !important;    
    }
}

</style>